@model Projecten2_DOTNET.Models.Domein.Sessie
@section Styles {
    <link type="text/css" href="~/css/feedback.css" rel="stylesheet">

}


<div class="leftBar">
    <div id="userNameShortCut">
        OS
    </div>
    <div class="verSS">
        <img src="/images/sessieK.png">
        <p>Sessie Kalender</p>
    </div>
    <div id="logoutBox">
        <a asp-area="Identity" asp-page="/Account/Login">
            <img src="/images/logout.png">
            <p>UITLOGGEN</p>
        </a>
    </div>
</div>
<div class="feedbackWeergave">
    <p id="sessieTitle">@Model.Titel</p>
    <div id="feedbackTitle">
        <p>Feedbacks</p>
        <div class="line2"></div>
    </div>

    <div class="feedContent">

        @foreach (var item in Model.FeedbackEntries) {

            <div class="feedback">
                <div class="datum">
                    <p>Maandag</p>
                    <p>4 Maart</p>
                </div>
                <div class="gebruikerSC">
                    @item.Auteur.GeefInitials()
                </div>
                <div class="inhoud">
                    <p>@item.Auteur.Naam:</p>
                    <p>
                        @item.Inhoud
                    </p>
                </div>
                <div class="feedRating">
                    @for (int i = 1; i < 6; i++) {
                        if (i <= item.Score) {
                            <img data="2" src="/images/starY.png">

                        }
                        else {
                            <img data="5" src="/images/starB.png">

                        }

                    }
                </div>
            </div>

        }



    </div>
</div>
<div class="feedbackGeven">
    <div class="contentFG">
        <p>Geef hier jouw feedback</p>
        <textarea id="textarea" spellcheck="false" rows="5" cols="60" name="description"></textarea>

        <p id="black">Geef een rating</p>
        <div class="rating">
            <img data="1" src="/images/starB.png">
            <img data="2" src="/images/starB.png">
            <img data="3" src="/images/starB.png">
            <img data="4" src="/images/starB.png">
            <img data="5" src="/images/starB.png">
        </div>
        <div class="line"></div>
        <a id="sumbitKnop" data-sessie="@Model.Id">Submit</a>
    </div>
</div>

<img src="/images/itlab-logo.png" id="logoITLAB">
<script src="~/js/feedback.js" asp-append-version="true"></script>
